twilio==8.14.0
flask==3.0.3
python-dotenv==1.0.1
firebase-admin==6.5.0
google-genai==0.2.1
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
Pillow==10.3.0
IPython==8.24.0
google-cloud-aiplatform==1.48.0
vertexai==1.38.0
